.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: orange;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}


* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}           

.btn:focus { outline-style: none; }


#msg {
    font-family: monospace;
}

.light-theme {
    --fontColor: var(--black);
    --bg: var(--green);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --fontColor: var(--green);
    --bg: var(--black);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

nav {
    background-color: greenyellow;
    height: 30px;
}

a {
    color: blue;
}
